{
  "presets": ["latest", "stage-2"],

  "plugins":
  [
    "add-module-exports",
    ["module-resolver", {
      "root": ["."],
      "alias":
      {
        "tjsdoc-runtime-common/src": "tjsdoc-runtime-common/dist"
      }
    }]
  ],

  "env":
  {
    "tjsdoc-dev":
    {
      "plugins":
      [
        ["module-resolver", {
          "root": ["."],
          "cwd": "babelrc",
          "alias":
          {
            "tjsdoc-test-utils": "../tjsdoc-test-utils/src/Util.js",

            "tjsdoc-runtime-common/src": "../tjsdoc-runtime-common/src"
          }
        }]
      ]
    }
  }
}
